@import "../../../styles/settings.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $brightGray;
    }
    a {
      @extend %interactive-hover;
    }

    .heading {
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }
      @media (max-width: 768px) {
        h3 {
          font-size: 0.9em;
        }
      }
      @media (max-width: 576px) {
        h3 {
          font-size: 0.70em;
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }

    .menu {
      text-align: center;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin: 0 0.5rem;
          font-weight: 600;

          a {
            @extend %interactive-hover;
            color: $darkerGray;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            display: block;

            &.active,
            &:hover {
              &::before {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                border-bottom: 4px solid $primary;
              }
            }
          }
        }
      }
    @media (max-width: 768px) {
      ul {
        li {
          a {
            font-size: 0.85em;
          }
        }
      }
    }  
    @media (max-width: 576px) {
      ul {
        text-align: left;
        margin-left: 0.4em;
        li {
          margin: 3px;
          a {
            font-size: 0.70em;
          }
        }
      }
    }
    @media (max-width: 380px) {
      ul {
        text-align: left;
        margin-left: 0.4em;
        li {
          margin: 2px;
          a {
            font-size: 0.48em;
          }
        }
      }
    }
  }

    .dots {
      position: absolute;
      right: 0;
      top: 0;
      border-bottom: none;

      ul {
        margin: 0 0 0 1rem;
        padding: 0;
        list-style: none;
        background-color: $white;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            @extend %interactive-hover;
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $brightGray;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $primary;
            }
          }
        }
      }
    }
  }
  .fadeIn {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
  
  .fadeOut {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
}
