// MAIN APPLICATION COLORS
//COLORS WERE ADDED TO SETTINGS STYLES BUT NOT IMPLEMENTED IN OTHER STYLE MODULES.
//USE THESE COLOR VARIABLES IN CODE IMPLEMENTED IN THE FUTURE
//CHANGE STATIC COLORS TO VARIABLES IN ANY EXISTING CODE YOU ARE WORKING ON
$white: #ffffff;
$lighterGray: #8b8b8b;
$lightGray: #434343;
$gray: #363636;
$darkGray: #2a2a2a;
$darkerGray: #292929;

$lightOrange: #ffca84;
$orange: #d58e32;
$darkOrange: #a7640e;

$lightGreen: #90ee90;
$green: #008000;
$darkGreen: #006400;

$lightBlue: #55d4ff;
$blue: #0000ff;
$darkBlue: #00008b;

$lightRed: #fc7270;
$red: #ff0000;
$darkRed: #8b0000;

//
$base-padding: 24px;
$header-topbar-bg: $lightGray;
$header-bg: $gray;

$footer-claim-bg: $darkGray;
$footer-bg: $gray;

$primary: $orange;

$text-color: $darkGray;
$form-border-color: $darkerGray;

/* hover settings for buttons */

$transition-time: 250ms;
$bg-transition-time: $transition-time;
$text-transition-time: $transition-time;
$motion-transition-time: $transition-time;
$rotate-angle: 0deg;
$scale-factor: 1.2;

%interactive-hover {
  transition: transform $motion-transition-time,
    background-color $bg-transition-time, color $text-transition-time,
    border-color $transition-time, border-bottom $transition-time,
    visibility $transition-time;
}



