$base-padding: 24px;
$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

/* hover settings for buttons */

$transition-time: 250ms;
$bg-transition-time: $transition-time;
$text-transition-time: $transition-time;
$motion-transition-time: $transition-time;
$rotate-angle: 0deg;
$scale-factor: 1.2;

%interactive-hover {
  transition: transform $motion-transition-time,
    background-color $bg-transition-time, color $text-transition-time,
    border-color $transition-time, border-bottom $transition-time,
    visibility $transition-time;
}