@import "../../../styles/settings.scss";

.root {
  background-color: $white;
  border: 1px solid $lighterGray;
  margin-bottom: 2rem;

  .buttons {
    @extend %interactive-hover;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    opacity: 0;
    visibility: hidden;
  }

  a {
    @extend %interactive-hover;
  }

  .photo {
    position: relative;
    padding: 0 10px;
    background-color: #f4f5f7;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    img {
      width: 100%; 
      height: 100%; 
      object-fit: cover; 
      padding: 0;
    }

    overflow: hidden;
    height: 300px; 
    align-items: flex-end;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $darkerGray;
      border-radius: 50%;
      color: $white;
      padding: 30px 15px 5px 15px;
    }
  }
  
  .buttons {
    @extend %interactive-hover;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    opacity: 0;
    visibility: hidden;
  }

  .active {
    background-color: $primary;
  }

  .content {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $darkGray;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: background-color 0.25s ease-in-out;
      background-color: $white;

      .prevPrice {
        margin-right: 5px;
        text-decoration: line-through;
      }

      .priceButton {
        color: $darkerGray;
        background-color: $white;
        border: solid 1px $darkerGray;
        transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
      }
    }
  }
}

.root:hover {
  .buttons {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s ease;
  }

  .favorite {
    background-color: $primary;
  }
}

.root:hover .prevPrice.priceButton,
.root:hover .priceButton.curentPrice {
  background-color: $darkerGray;
  color: $white;
  border: solid 1px $darkerGray;
}